<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Stetic - Expertos</title>
  <style>
    table {
      border-spacing: 0;
    }
  </style>
</head>
<body yahoo="" style="min-width: 100% !important; margin: 0; padding: 0;">
<table width="100%" bgcolor="#f6f8f1" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width: 600px; background-color: #fff;">
        <tr>
          <td>
            <!-- header -->
            <img style="width: 100%;margin-bottom: -3px; border: 0;" src="https://s3-us-west-2.amazonaws.com/new-stetic/expertos/expertos_header_mailing2.png">
          </td>
        </tr>
        <tr>
          <!-- center section -->
          <td  style="font-family: sans-serif;font-size:1em; padding: 0 60px;background-color: #f0f0f0;border: 0;">
            <div align="center">
            <h3 style="color: #00aab6;font-size: 32px;font-weight: normal"> Ha llegado una reserva
                nueva a <b>Experto Dental</b></h3>
            </div>

            <p style="font-size: 25px; color: #939393;font-weight: normal; margin-top:6px; margin-bottom: 0px;"><span style="color: #6d6d6d;">Nombre:</span> <%= @user.name %></p>
            <p style="font-size: 25px; color: #939393;font-weight: normal;margin-top:6px;margin-bottom: 0px; "><span style="color: #6d6d6d;">Teléfono:</span> <%= @user.phone %></p>
            <p style="font-size: 25px; color: #939393;font-weight: normal;margin-top:6px;margin-bottom: 0px; "><span style="color: #6d6d6d;">Correo:</span> <%= @user.email %></p>
            <p style="font-size: 25px; color: #939393;font-weight: normal;margin-top:6px;margin-bottom: 0px; "><span style="color: #6d6d6d;">Pais:</span> <%= @user.city %></p>
            <p style="font-size: 25px; color: #939393;font-weight: normal;margin-top:6px;margin-bottom: 0px; "><span style="color: #6d6d6d;">Categoría:</span> <%= @user.category_ns %></p>
            <p style="font-size: 25px; color: #939393;font-weight: normal;margin-top:6px; margin-bottom: 0px;"><span style="color: #6d6d6d;">Mensaje:</span> <%= @user.comment %></p>
            <div align="center" style="margin: 35px;">
              <a style="background-color: #00aab6;
                  color: white;
                  text-decoration: none;
                  padding: 10px 20px;
                  border-radius: 8px;
                  font-weight: bold;" href="<%= @user.video_url %>"> Descargar video</a>
            </div>
          </td>
        </tr>

        </tr>

        <tr>
          <td style="color: #737373; font-family: sans-serif; background-color: #fff;">
            <div align="center" style="margin-top: 40px;">
              <h2>Equipo New Stetic</h2>
              <p style="margin-top: 0px; font-size: 12px;">57 4 314 7979129</p>
            </div>
            <div align="center">
              <div style="margin-top: 30px; margin-bottom: 30px;">
                <a href="#" style="text-decoration: none;">
                  <img style="filter: brightness(60%); width: 30px" src="https://s3-us-west-2.amazonaws.com/new-stetic/expertos/iconos_facebook.png" alt="">
                </a>
                <a href="#" style="text-decoration: none;">
                  <img style="filter: brightness(60%);margin-left: 10px; width: 30px" src="https://s3-us-west-2.amazonaws.com/new-stetic/expertos/iconos_instagram.png" alt="">
                </a>
                <a href="#" style="text-decoration: none;">
                  <img style="filter: brightness(60%);margin-left: 10px; width: 30px" src="https://s3-us-west-2.amazonaws.com/new-stetic/expertos/iconos_youtube.png" alt="">
                </a>
              </div>
            </div>
            <div align="center" style="margin-bottom: 30px;">
              <p style="font-size: 11px">©New Stetic, Política de privacidad</p>
              <a href="https://ns-experts.herokuapp.com/#know-more" target="_blank" style="font-size: 11px; margin-top: 5px;">Términos
                y condiciones</a>
            </div>
          </td>
        </tr>

        <tr>
          <td>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>