<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&amp" rel="stylesheet" type="text/css">
  <title>Kostazul</title>
  <style>
    table {
      border-spacing: 0;
    }
  </style>
</head>
<body yahoo="" style="min-width: 100% !important; margin: 0; padding: 0;">
<table width="100%" bgcolor="#f5f5f5" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width: 600px; background-color: #fff;">
        <tr>
          <td>
            <!-- header -->
            <img style="width: 100%;margin-bottom: -3px; border: 0;" src="https://s3.amazonaws.com/kostazul/mail/ka_mundial-18.png">
          </td>
        </tr>
        <tr>
          <!-- center section -->
          <td align="center" style="font-family: sans-serif;font-size:1em; padding: 0 60px;background-color: #f5f5f5;">
            <h3 style="color: #0c2e53; font-size: 26px; margin-bottom: 0px;">¡Hola <%= @user.name %>!</h3>
            <p style="color: #0c2e53;
                line-height: 21px;
                font-size: 22px;
                font-weight: normal;margin-top: 15px;">
              En este momento estás participando por
              una camiseta de la selección.</p>


            <img src="https://s3.amazonaws.com/kostazul/mail/colombia-barra.png" alt="">
            <p style="color: #0c2e53;
                line-height: 21px;
                font-size: 22px;
                font-weight: normal;margin-top: 15px;">
              Los sorteos se realizarán 1, 8, 15 y
              22 de Junio de 2018.</p>
            <p style="color: #0c2e53;
                line-height: 21px;
                font-size: 22px;
                font-weight: normal;margin-top: 15px;">
              Consulta:</p>
<div style="margin-bottom: 50px; margin-top: 20px;">
            <a href="https://s3.amazonaws.com/kostazul/mail/terminos-y-condiciones.pdf" style="background-color: #d7d7d7;
                padding: 10px 20px;
                border-radius: 22px;
                text-decoration: none;
                color: #143458;
                font-weight: bold;" target="_blank">Términos y condiciones</a>
</div>
            <img src="https://s3.amazonaws.com/kostazul/mail/ka_mundial-14.png" alt="">


          </td>
        </tr>

        <tr>
          <td style="color: #737373; font-family: sans-serif; background-color: #fff;">

            <div align="center" >
              <div style="margin-top: 30px; margin-bottom: 30px;">
                <a href="https://www.facebook.com/kostaAzulOficial/" style="text-decoration: none;" target="_blank">
                  <img style="filter: brightness(60%);" src="https://s3.amazonaws.com/kostazul/mail/ka_mundial-19.png" alt="">
                </a>
                <a href="https://www.instagram.com/kostazuloficial/" style="text-decoration: none;" target="_blank">
                  <img style="filter: brightness(60%);margin-left: 10px;" src=" https://s3.amazonaws.com/kostazul/mail/ka_mundial-20.png" alt="">
                </a>

              </div>
            </div>

          </td>
        </tr>

        <tr>
          <td>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
