<!-- Modal Terms and Conditions -->
<style>
  .ft0{
    font-weight: bold;
  }
</style>
<div id="terms_and_conditions" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title ft0">TÉRMINOS Y CONDICIONES DEL SORTEO DE CAMISETAS DE LA SELECCIÓN PADRES 2018 </h4>
      </div>
      <div class="modal-body">
        <div id="page_1">

          <p class="p2 ft1"><span class="ft0">FECHAS DE LOS SORTEOS: </span>1, 8, 15 y 22 de junio de 2018, en las
            instalaciones de la fábrica KOSTA AZUL en Dosquebradas, Risaralda.</p>
          <p class="p3 ft0">CARACTERÍSTICAS DEL PREMIO:</p>
          <p class="p4 ft1">20 camisetas de la selección.</p>
          <p class="p5 ft0">COBERTURA DEL SORTEO:</p>
          <p class="p6 ft1">Aplica para los almacenes KOSTA AZUL de BOGOTÁ: </span>C.C Unicentro Cra
            15 No.
            <nobr>123-30</nobr>
            Local
            <nobr>1-010,</nobr>
            C.C Plaza de las Américas Local 1518, Almacén de Fábrica Av. Calle 20 No.
            <nobr>39-94,</nobr>
            Salitre Local
            <nobr>1-03,</nobr>
            C.C Metrópolis Local
            <nobr>1-74,</nobr>
            C.C Bulevar Local
            <nobr>1-94,</nobr>
            C.C Cafam Local 2- 033, C.C Santafé Plaza Ecuador Local
            <nobr>2-21,</nobr>
            C.C Plaza Central Local
            <nobr>2-12,</nobr>
            C.C Ventura Terreros Local
            <nobr>1-23</nobr>
            Soacha y Centro Cra 7 No.
            <nobr>17-33.</nobr>
            <span class="ft3">CALI: </span>C.C. Unicentro pasillo 2 Local 176, C.C Cosmocentro Local 277.
            <span class="ft3">PALMIRA: </span>Cra 27 No.
            <nobr>30-84,</nobr>
            C.C Llanogrande Plaza Local 151 – 152, C.C Unicentro Local
            <nobr>1-50.</nobr>
            <span class="ft3">TULUÁ: </span>C.C. La Herradura Local 01. <span class="ft3">PASTO: </span>C.C Unicentro
            Local
            <nobr>1-14.</nobr>
            <span class="ft3">DOSQUEBRADAS: </span>Cra 16 No.
            <nobr>25-33</nobr>
            Esquina.
          </p>
          <p class="p8 ft0">FORMA DE PARTICIPACIÓN</p>
          <p class="p9 ft6">Del 21 de Mayo al 21 de Junio de 2018 y por cada $50.000 en compras de productos de la marca
            KOSTA AZUL, que el cliente realice en cualquiera de nuestros almacenes, excepto Outlets, recibirá una boleta
            para participar en el sorteo, cuyo código deberá ser registrado, junto con sus datos personales, en los
            campos indicados de la página web
            <a href="http://www.kostazul.com/"><span class="ft5">www.unpapamundial.com</span></a><a href="http://www.kostazul.com/">. </a>Así
            participará por una (1) de las camisetas de la selección.</p>
          <p class="p10 ft0">MÉTODO DE SELECCIÓN DE LOS GANADORES:</p>
          <p class="p11 ft6">En cada sorteo, se sacará la base de datos de clientes que hayan realizado el registro a la
            fecha y que cumplan con los requisitos establecidos, para luego hacer la extracción aleatoria del ganador.
            Los inscritos seguirán participando en los siguientes sorteos, a excepción de los ganadores.</p>
        </div>
        <div id="page_2">


          <p class="p12 ft0">TÉRMINOS Y CONDICIONES:</p>
          <p class="p13 ft7">Por parte de GUILLERMO PULGARÍN S. S.A – KOSTA AZUL:</p>
          <p class="p14 ft10"><span class="ft8">•</span><span class="ft9">No podrán participar en el concurso los empleados de la Compañía Guillermo Pulgarin S. S.A - KOSTA AZUL y sus familiares en primero y segundo grado de consanguinidad.</span>
          </p>
          <p class="p15 ft6"><span class="ft8">•</span><span class="ft11">Se publicarán los 20 ganadores inmediatamente, a través del fan page de Facebook de la marca </span><a href="https://www.facebook.com/kostazuloficial"><span class="ft12">https://www.facebook.com/kostaazuloficial</span></a>
          </p>
          <p class="p16 ft6"><span class="ft8">•</span><span class="ft11">Para el sorteo de los premios se realizará una lista de suplentes con diez (10) ganadores. Los suplentes tendrán la oportunidad de ganar según su posición en la lista.</span>
          </p>
          <p class="p17 ft6"><span class="ft13">•</span><span class="ft11">Si el premio se adjudica formalmente al ganador principal, los suplentes se encontrarán facultados para participar en los demás sorteos.</span>
          </p>
          <p class="p18 ft10"><span class="ft8">•</span><span class="ft9">Si después de la comunicación por escrito el ganador no acepta el premio o no lo reclama durante los 7 días posteriores, se entiende que ha desistido y se procederá a contactar en orden de elegibilidad al ganador de acuerdo a la lista de suplentes.</span>
          </p>
          <p class="p19 ft6"><span class="ft8">•</span><span class="ft11">En caso que se detecte a algún ganador que no cumple con las condiciones o que haya cometido fraude, se procederá a contactar en orden de elegibilidad al ganador de acuerdo a la lista de suplentes.</span>
          </p>
          <p class="p16 ft6"><span class="ft14">•</span><span class="ft11">El premio será entregado por parte de un funcionario autorizado por la compañía, en la ciudad ganadora, dentro de los 15 días posteriores a la rifa.</span>
          </p>
          <p class="p20 ft10"><span class="ft8">•</span><span class="ft9">Si se llegara a presentar que un ganador reside en una ciudad diferente donde Kosta Azul (Guillermo Pulgarin S. S.A.) no cuenta con una tienda propia, este premio se le enviará directamente al domicilio suministrado por el participante en la página web, caso en el cual será la empresa quien asuma los gastos de envío.</span>
          </p>
          <p class="p21 ft1"><span class="ft8">•</span><span class="ft15">En todos los almacenes Kosta Azul, se instalará material POP para comunicar la campaña.</span>
          </p>
          <p class="p16 ft6"><span class="ft8">•</span><span class="ft11">Las condiciones y restricciones se publicarán en la página web </span><a href="http://www.unpapamundial.com/"><span class="ft5">www.unpapamundial.com</span></a>
            y en el Fanpage de Facebook.</p>
          <p class="p17 ft6"><span class="ft8">•</span><span class="ft11">Los datos de los ganadores serán verificados, en caso de falsedad, se anula la entrega del premio.</span>
          </p>
          <p class="p22 ft10"><span class="ft16">• </span>En caso que se detecte a algún ganador, que no cumple con las
            condiciones o que haya cometido fraude, el premio será sorteado nuevamente hasta elegir un nuevo ganador que
            cumpla con las condiciones del concurso.</p>
          <p class="p23 ft6"><span class="ft8">•</span><span class="ft11">Aplica para los Almacenes KOSTA AZUL ubicados en Bogotá, Cali, Dosquebradas, Palmira, Pasto y Tuluá. No aplica para OUTLETS.</span>
          </p>
          <p class="p18 ft10"><span class="ft8">•</span><span class="ft9">Quien participe de la actividad a través del diligenciamiento del formulario en la página web, autoriza expresamente que la información suministrada se utilizará para enviarle mensajes y contenidos que sean de interés específico, tales como colecciones nuevas y campañas, promociones y vínculos en otras páginas web, además deberá autorizar el tratamiento de datos.</span>
          </p>
          <p class="p24 ft6"><span class="ft8">•</span><span class="ft11">KOSTA AZUL como organizador de los sorteos se reserva el derecho de pronunciarse sobre aquellas situaciones no previstas en este reglamento; los clientes aceptan el carácter definitivo e inapelable de las decisiones adoptadas por KOSTA AZUL,</span>
          </p>
        </div>
        <div id="page_3">


          <p class="p25 ft4">siempre que las mismas no resulten abusivas, ni infundadas, ni perjudiquen dolosamente el
            derecho de los concursantes.</p>
          <p class="p26 ft1"><span class="ft8">•</span><span class="ft15">KOSTA AZUL se reserva el derecho de descalificar a cualquier persona que haya interferido indebidamente en los procedimientos del sorteo o que no respete las reglas de participación. Se sancionará cualquier actividad de tipo fraudulento hasta donde la ley lo permita.</span>
          </p>

          <p class="p29 ft7">Por parte del concursante:</p>
          <p class="p30 ft6"><span class="ft8">•</span><span class="ft18">Los concursantes podrán registrar varias boletas diferentes, pero cada boleta solamente podrá ser registrada una (1) vez.</span>
          </p>
          <p class="p31 ft1"><span class="ft8">•</span><span class="ft19">Los códigos solamente podrán ser registrados hasta el 21 de junio de 2018.</span>
          </p>
          <p class="p32 ft6"><span class="ft8">•</span><span class="ft18">Los ganadores no podrán exigir cambiar los premios por otros productos o por dinero. Además, los mismos no son transferibles a terceras personas.</span>
          </p>
          <p class="p33 ft1">
            <span class="ft8">•</span><span class="ft19">Este premio es personal e intransferible</span></p>
          <p class="p34 ft10"><span class="ft8">•</span><span class="ft20">La sola participación en los sorteos implica el conocimiento y aceptación de todas sus condiciones.</span>
          </p>
          <p class="p35 ft10"><span class="ft8">•</span><span class="ft20">La selección de cada uno de los ganadores se hará en la ciudad de Dosquebradas, Risaralda en las instalaciones de la fábrica KOSTA AZUL el 1, 8, 15 y 22 de Junio de 2018. Cada día se sortearán 5 camisetas.</span>
          </p>
          <p class="p35 ft6"><span class="ft8">•</span><span class="ft18">Los ganadores deben estar dispuestos a aceptar el registro de la entrega del producto con video o fotografías, televisión, radio, prensa e internet para certificar la entrega del premio por parte de KOSTA AZUL.</span>
          </p>
          <p class="p36 ft10"><span class="ft8">•</span><span class="ft20">Los ganadores, en el momento de la entrega del premio, deberán presentar la boleta original que fue registrada y que resultó ganadora.</span>
          </p>
          <p class="p12 ft1"><span class="ft8">•</span><span class="ft19">El ganador deberá presentarse con su cédula original.</span>
          </p>
          <p class="p37 ft1"><span class="ft8">•</span><span class="ft19">Los concursantes solo podrán ganar por una sola vez.</span>
          </p>
          <p class="p38 ft0">CONDICIONES PARA LA ENTREGA DE LOS PREMIOS:</p>
          <p class="p39 ft10"><span class="ft8">•</span><span class="ft20">El ganador de cada premio, asume personalmente cualquier impuesto generado por la ganancia ocasional, de conformidad con lo estipulado en el Estatuto Tributario.</span>
          </p>
          <p class="p40 ft10">• Los premios se entregarán personalmente a los ganadores con previa presentación d e la
            boleta original que fue registrada y que resultó ganadora, de su cédula de ciudadanía, cédula de extranjería
            o pasaporte en original<span class="ft21">, </span>firmando un acta de recibo delante del funcionario de
            KOSTA AZUL que entrega el premio. En caso que el ganador no se presente personalmente y envíe un
            representante a reclamar el premio, deberá anexar una autorización escrita, fotocopia de la cédula del
            ganador y cédula de la persona autorizada.</p>
          <p class="p41 ft6"><span class="ft1">•</span><span class="ft18">En caso que el ganador no se presente a reclamar el premio en un período de 30 días hábiles, contados a partir del momento de la notificación y de la publicación de los ganadores, dicho premio perderá validez.</span>
          </p>
        </div>
        <div id="page_4">


          <p class="p42 ft1">Listado de Ganadores y Reglamento de la Promoción.</p>
          <p class="p43 ft10"><span class="ft8">•</span><span class="ft9">Los ganadores serán contactados mediante correo electrónico o vía telefónica, por el fanpage de KOSTA AZUL: https://www.facebook.com/kostaazuloficial</span>
          </p>
          <p class="p44 ft0">JURISDICCIÓN Y COMPETENCIA</p>
          <p class="p45 ft6">Para cualquier controversia que pudiere surgir con relación al Sorteo y estas Bases, los
            Participantes se someten a las leyes Colombianas y a la jurisdicción de Pereira, Risaralda, con renuncia a
            cualquier otro fuero y jurisdicción que pudiera corresponder</p>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
      </div>
    </div>

  </div>
</div>