<!-- Modal Terms and Conditions -->
<style>
  .ft0{
    font-weight: bold;
  }
</style>
<div id="tratamiento_datos" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <p lang="en-US" align="center">
          <strong>AUTORIZACIÓN </strong>
        </p>
        <p lang="en-US" align="center">
          <strong>PROTECCIÓN DE DATOS PERSONALES </strong>
        </p>
        <p lang="en-US" align="justify">
          La sociedad GUILLERMO PULGARIN S. S.A. identificada con Nit. 891.400.819
          propietaria del establecimiento de comercio KOSTA AZUL, de conformidad con
          lo dispuesto en la Ley 1581 de 2012, Decreto 1377 de 2013 y demás normas
          que las modifiquen, deroguen o sustituyan, solicita su autorización para
          que de manera libre, previa, expresa y voluntaria permita incluirlo en
          nuestra bases de datos y así recolectar y realizar el tratamiento de sus
          datos personales.
        </p>
        <p lang="en-US" align="justify">
          La autorización permitirá a la empresa transferir, almacenar, usar,
          circular, suprimir, compartir, actualizar y transmitir los datos de acuerdo
          con el procedimiento y la Política de Protección de Datos Personales, la
          cual podrá ser consultada en la pagina web: www.kostazul.com
        </p>
        <p lang="en-US" align="justify">
          El tratamiento se realizará mediante correo físico, electrónico, celular o
          dispositivo móvil, vía mensajes de texto, whatsapp o a través de cualquier
          medio análogo y/o digital de comunicación para los siguientes fines:
        </p>
        <ul style="list-style-type: disc">
          <li>
            <p lang="en-US" align="justify">
              Participar y suministrar información comercial, publicitaria,
              promocional, concursos, eventos, productos y servicios.
            </p>
          </li>
          <li>
            <p lang="en-US" align="justify">
              Utilización de datos biométricos como huella digital, audio, video
              y/o fotografía o a través de cualquier otro medio conocido o por
              conocerse (se entiende como “imagen” el nombre, seudónimo, voz,
              firmas, iniciales, figura, fisionomía de cuerpo, cara o cualquier
              signo que se relacione con la identidad de la persona), para
              reproducción, comunicación o transmisión en redes sociales y medios
              de comunicación como televisión, periódicos, pagina web, entre
              otros.
            </p>
          </li>
          <li>
            <p lang="en-US" align="justify">
              Encuestas de satisfacción y estudios de mercados
            </p>
          </li>
          <li>
            <p lang="en-US" align="justify">
              Verificar, actualizar, comprobar o validar los datos suministrados
            </p>
          </li>
          <li>
            <p lang="en-US" align="justify">
              Transferir la información recolectada a terceros con los que la
              compañía contrate servicios dentro y fuera del país, tales como el
              almacenamiento y administración de los datos, transporte de
              mercancías, entre otros.
            </p>
          </li>
        </ul>
        <p lang="en-US" align="justify">
          En el evento en que se soliciten datos sensibles, es decir, aquellos que
          afecten la intimidad del titular o cuyo uso indebido puede generar su
          discriminación, usted no está en la obligación de autorizar su tratamiento.
        </p>
        <p lang="en-US" align="justify">
          Los titulares podrán ejercer en cualquier momento su derecho a conocer,
          actualizar y rectificar sus datos personales; solicitar prueba de la
          autorización otorgada; ser informado del uso que le han dado a sus datos
          personales; presentar ante la Superintendencia de Industria y Comercio
          quejas por infracciones; revocar la autorización y solicitar la supresión
          de los datos y acceder en forma gratuita a sus datos personales que hayan
          sido objeto de Tratamiento.
        </p>
        <p lang="en-US" align="justify">
          Responsable: Área de Protección de datos personales – e-mail:
          tratamientodedatos@kostazul.com - Teléfono: 57 6 3135500.
        </p>
        <p lang="en-US" align="justify">
          La empresa queda autorizada de manera expresa e inequívoca para mantener y
          manejar toda su información conforme a lo previsto en el presente
          documento.
        </p>
        <p lang="en-US" align="justify">
          * Los datos que se solicitan a través de la pagina y que corresponden a la
          presente autorización son:
        </p>
        <p lang="en-US" align="justify">
          Nombre Completo
        </p>
        <p lang="en-US" align="justify">
          Correo electrónico
        </p>
        <p lang="en-US" align="justify">
          Tipo de Documento
        </p>
        <p lang="en-US" align="justify">
          Número de documento
        </p>
        <p lang="en-US" align="justify">
          Teléfono / Celular
        </p>
        <p lang="en-US" align="justify">
          Ciudad
        </p>
        <p lang="en-US" align="justify">
          Profesión
        </p>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
    </div>
  </div>

</div>
</div>