<%= render partial: "terms_and_conditions" %>
<%= render partial: "tratamiento" %>
<!--Preloader-->
<div class="loader">
  <div class="loader-inner">
    <div class="spinner multicolor">
      <div class="spinner-container container1">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container2">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
    </div>
  </div>
</div>
<!-- Preloader ends-->

<div class="wrapper">


  <!-- Main-Navigation -->
  <header id="main-navigation">
    <div id="navigation" class="navbar-default">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="top-right text-right">
              <li><a href="https://www.facebook.com/kostaAzulOficial/" target="_blank" class="facebook"><%= image_tag "home/facebook-icon.png" , class: "img-responsive"%></a></li>

              <li><a href="https://www.instagram.com/kostazuloficial/" target="_blank" class="instagram"><%= image_tag "home/instagram-icon.png" , class: "img-responsive"%></a></li>
            </ul>
            <nav class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixed-collapse-navbar" aria-expanded="true">
                  <span class="icon-bar top-bar"></span> <span class="icon-bar middle-bar"></span> <span class="icon-bar bottom-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                  <img src="<%= image_url "home/logo-kosta-azul.png" %>" alt="logo">
                </a>
              </div>
              <div id="fixed-collapse-navbar" class="navbar-collapse collapse navbar-right scrolly">
                <ul class="nav navbar-nav">
                  <li><a class="scrollings" href="#ourhome">Home</a></li>
                  <li><a class="scrollings" href="#sorteo">Sorteo</a></li>
                  <li><a href="#registro" class="scrollings">Registro</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#terms_and_conditions" class="scrollings">Términos y condiciones</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main-Navigation ends -->
  <!--Ful Screen Section Video with caption-->
  <section class="full-screen parallax-video parallaxie" id="ourhome">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10  top40">
          <div class="center-block text-center top40">
            <div class="center-item wow fadeInUp">
              <%= image_tag "home/papa-mundial.png", class: "img-responsive" %>
              <h2 class="text-home-camera top50 bottom35  whitecolor">

                <span>Activa la cámara</span> y tómate una foto al mejor <br class="hidden-xs">
                estilo de un papá<span> Kosta Azul.</span>
              </h2>
              <a href="http://www.facebook.com/fbcameraeffects/tryit/178257749541728/" target="_blank" class="button whitehole btn-radius">Activar</a>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-1"></div>
      </div>
    </div>
  </section>

  <div id="bgndVideo" class="player" data-property="{videoURL:'https://youtu.be/sRIkt58_jJE',containment:'#ourhome',autoPlay:true, loop:true, showControls:false, ratio:16/9, mute:true, startAt:0,  stopAt:25, opacity:1}">
  </div>
  <!--Ful Screen Section Video ends-->

  <!--Services 3 column-->
  <section id="sorteo" class="padding bgdefault">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10">
          <div class="intro-text center bottom15 wow fadeInUp">

            <h2 class="darkcolor win-kosta bottom20"><span>¿Quieres ganar la camiseta de la selección con Kosta Azul?</span> <br>
              Sigue estos sencillos pasos y participa.</h2>

          </div>
        </div>
        <div class="col-md-2 col-sm-1"></div>
      </div>
      <div class="row" id="features">
        <div class="col-md-4 col-sm-6">
          <div class="icon_box equalheight top60 wow fadeInUp">
            <%= image_tag "steps/step-1.png", class: "img-responsive"%>
            <h4 class="text-capitalize darkcolor bottom10"><a href="javascript:void(0)"></a></h4>
            <hr class="bg-yellow">
            <p class="no_bottom info-step">Haz una compra en <br>
              nuestras tiendas y <span>por cada <br>
              $50.000 recibe una boleta.</span></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="icon_box equalheight top60 wow fadeInUp">
            <%= image_tag "steps/step-2.png", class: "img-responsive" %>
            <h4 class="text-capitalize darkcolor bottom10"><a href="javascript:void(0)"></a></h4>
            <hr class="bg-blue">
            <p class="no_bottom info-step">Registra el <span>código de tu<br>
              boleta <a href="#registro" class="scrollings">aquí.</a> </span>
              </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="icon_box equalheight top60 wow fadeInUp">
            <%= image_tag "steps/step-3.png", class: "img-responsive" %>
            <h4 class="text-capitalize darkcolor bottom10"><a href="javascript:void(0)"></a></h4>
            <hr class="bg-red">
            <p class="no_bottom info-step">Participa en el sorteo de <br>
              una <span>camiseta de la <br>
              selección.</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Services 3 column ends-->

  <!--Contact form-->
  <section id="registro" class="padding padding_bottom">
    <div class="container">


        <%= form_tag('/registrar', method: :post, class:"contactus  top40") do  %>
        <div class="row wow fadeInUp text-center">
          <div class="col-md-6 col-sm-offset-1 top40">
            <div class="row">
            <h2 class="info-step bottom20">Registra aquí el código de tu boleta y <br>
              <span>participa por la camiseta de la selección</span></h2>
            <div class="col-md-9 col-sm-9 ">
              <div class="form-group ">
                <input class="form-control btn-radius" type="text" placeholder="" name="code" required>
                <p>*Aplica <a style="font-weight: bold;" href="#" data-toggle="modal" data-target="#terms_and_conditions" >Términos y Condiciones</a></p>
              </div>
            </div>
            <div class="col-sm-3">
              <button type="submit" class="button whitehole btn-radius bottom70">Continuar</button>
            </div>
            </div>
          </div>

        <% end %>
        </div>
        <div class="row">
          <div class="col-md-9 col-lg-9 text-center info-draw">
            <p>Los sorteos se realizarán 1, 8, 15 y 22 de junio de 2018</p>
            <%= image_tag "coljuegos.png",class: "col-juegos-form" %>
          </div>

        </div>
      </form>
    </div>
  </section>
  <!--Contact form ends-->


  <!--Footer-->
  <footer class="bgdark padding_half padding_bottom_0">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <ul class="wow bounceIn d-flex">
            <li><a href="https://www.facebook.com/kostaAzulOficial/" target="_blank"><%= image_tag "footer/facebook.png" %> </a> </li>
            <li><a href="https://www.instagram.com/kostazuloficial/" target="_blank"><%= image_tag "footer/instagram.png" %> </a> </li>

          </ul>
          <p class="whitecolor top30 wow fadeInUp"><%= image_tag "home/logo-kosta-azul.png" %></p>
        </div>
        <div class="col-md-12 col-sm-12 text-center powered-by-habla">
          <p class="whitecolor top30 wow fadeInUp"><a href="https://www.hablacreativo.com/" target="_blank"><%= image_tag "powered-by-habla.png" %></a></p>
        </div>
      </div>
    </div>
  </footer>

</div>

<!-- jQuery Files -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Type It -->
<script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>

<!--Google map API-->
<script src="http://maps.google.com/maps/api/js?key=AIzaSyAOBKD6V47-g_3opmidcmFapb3kSNAR70U"></script>
