<%= render partial: "tratamiento" %>
<section class="bg-ban">
    <%=  image_tag "register/registrar-codigo.png" , class: "img-responsive hidden-xs" %>
    <%=  image_tag "register/registrar_codigo_res.png" , class: "img-responsive visible-xs" %>
</section>
<section class="register padding">
  <div class="container">
    <div class="row">
      <%= form_for @contact, url: '/registro_codigo/', id: 'contact-form', method: 'post', class: 'row' do |f| %>
        <div class="form-group col-sm-6">
          <%= f.text_field :name, placeholder: 'Nombre completo', class: 'form-control', required: true %>
        </div>
        <div class="form-group col-sm-6">
          <%= f.text_field :email, placeholder: 'Correo electrónico', type: 'email', class: 'form-control', required: true %>
        </div>
        <div class="form-group col-sm-6">
          <%= f.select(:doc_type, [["Cédula de cuidadanía", "Cédula de cuidadanía"], ["Cédula de extranjería", "Cédula de extranjería"], ["Pasaporte", "Pasaporte"]],
                       {required: "required", include_blank: "Tipo de documento"}, {class: "form-control"}) %>
        </div>
        <div class="form-group col-sm-6">
          <%= f.text_field :doc_number, placeholder: 'Número de documento', type: "number", class: 'form-control', required: true %>
        </div>
        <div class="form-group col-sm-6">
          <%= f.text_field :phone, placeholder: 'Teléfono/Celular',type: "number",class: 'form-control', required: true %>
        </div>
        <div class="form-group col-sm-6">
          <%= f.text_field :city, placeholder: 'Ciudad', class: 'form-control', required: true %>
        </div>
        <div class="form-group col-sm-6">
          <%= f.text_field :profesion, placeholder: 'Profesión', class: 'form-control', required: true %>
        </div>
        <div class="form-group col-sm-6">
          <%= f.select(:tienda, tiendas,
                       {required: "required", include_blank: "Tienda donde se realizó la compra"}, {class: "form-control"}) %>
        </div>
        <div class="form-group col-sm-12" id="codes_box">
          <%= text_field_tag "code_invoice[]", session[:code], placeholder: 'Código', class: 'form-control', required: true, readonly: true %>
          <button type=button onclick="add_other_code(this)" class="add-other-code top30">Agregar otro código <i class="fa fa-plus"></i></button>
        </div>
        <div class="form-group col-sm-6">
          <p class="terms">

            <input type="checkbox" id="test1" required="required"/>
            <label for="test1"><b>*Autorizo el <%= link_to "tratamiento de datos personales", "#", "data-toggle" => "modal", "data-target" => "#tratamiento_datos" %></b></label>

          </p>
        </div>
        <div class="form-group col-sm-6">
          <p class="pull-right">Todos los campos son obligatorios.</p>
        </div>
        <div class="actions col-md-12 text-center">


          <%= f.submit 'Enviar', class: 'button darkhole btn-radius', type: 'submit' %>
        </div>
      <% end %>
    </div>
  </div>


</section>


<!-- jQuery Files -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Type It -->
<script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>
