<section class="bg-ban">
  <%=  image_tag "thanyou/ban-thank-you.png" , class: "hidden-xs img-responsive" %>
  <%=  image_tag "thanyou/bg-thankyou_res.png" , class: "visible-xs img-responsive" %>
</section>

<!--Services 3 column-->
<section id="thank_you" class="bgdefault">
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-10 col-sm-10">
        <div class="intro-text center bottom15 wow fadeInUp">

          <h2 class="darkcolor win-kosta bottom20"><span>Ahora podrás vivir el mundial al
         <br>mejor estilo de un papá Kosta Azul </span>
          </h2>
          <hr>
<p>Los sorteos se realizarán <span>1, 8, 15 y 22 de Junio de 2018</span></p>
          <a href="/" class="button darkhole btn-radius">Regresar al home</a>
        </div>
      </div>
      <div class="col-md-2 col-sm-1"></div>
    </div>

  </div>
</section>
<!--Services 3 column ends-->

<!-- jQuery Files -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Type It -->
<script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>