<!DOCTYPE html>
<html>
  <head>
    <title>Kostazul - Un Papá mundial</title>
    <meta name="description" content="¿Quieres ganar la camiseta de la selección con Kosta Azul?, Sigue estos sencillos pasos y participa" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= favicon_link_tag 'favicon.ico' %>


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WRLHPZW');</script>
    <!-- End Google Tag Manager -->

    <meta property="og:url" content="http://www.unpapamundial.com/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Kostazul - Un Papá mundial"/>
    <meta property="og:description" content="¿Quieres ganar la camiseta de la selección con Kosta Azul?, Sigue estos sencillos pasos y participa"/>
    <meta property="og:image" content="https://s3.amazonaws.com/kostazul/mail/kostazul-og.png"/>

    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>

  <body data-spy="scroll" data-target=".scrolly" data-offset="100">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRLHPZW"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= custom_bootstrap_flash %>
  </body>
</html>
